<!-- MM-EOA-ver_1.0-PROPER (img scaled from w:222px to 140px-->
<!-- changelog: 
SquawkBox version
-->


<form action="http://signup.moneymorning.com.au/Content/SaveFreeSignups" method="post" onsubmit="return ajax_checkForValidEmail( 'sbmgValidateTemplateTag1466_email','wbop','3','', 'sbmg_optin_after_subscribe', '')">
	<input name="source" type="hidden" value="XCODE HERE" style="display: none;">
	<input name="list" type="hidden" value="moneymor" style="display: none;">
	<input name="adTopic" type="hidden" value="miscellaneous" style="display: none;">
	<input name="NotSaveSignup" type="hidden" value="False" style="display: none;">
	<div>
		<div id="tmp2-container" class="email-subscribe sbmg-clrfix">
			<span>
<div id="templateByline"> </div>
			</span>
			<h3 id="temp2-title-text">
<div id="templateHeading"> </div>
			</h3>
			<div class="tmp2-content">
				<div>
<img id="templateCover" align="right" src="" width="140">
				</div>
				<p>
<div id="templatePara1"> </div>
          		</p>
          		<p>
<div id="templatePara2"> </div>
          		</p>
          		<p>
<div id="templatePara3"> </div>
				</p>
				</div>
					<div class="tmp2-subscribe-form">
						<div class="tmp2-subscribe-form-box sbmg-clrfix">
							<input id="sbmgValidateTemplateTag1466_email" type="text" class="tmp2-email-fld" onblur="if (this.value == '') {this.value = 'Email Address';}" onfocus="if (this.value == 'Email Address') {this.value = '';}" name="email" value="Email Address"> 
							<input id="tmp2-submit" type="submit" value="Subscribe Now &gt;" name="submit" class="submit">
						</div>
					</div>
					<div id="privacy-text2">
						We will collect and handle your personal information in accordance with our <a href="http://www.moneymorning.com.au/privacy-policy">Privacy Policy</a>. You can cancel your subscription at any time.
					</div>
					<div style="clear:both"></div>
				</div>
			</div>
		</form>
	