<!-- MM-IF-ver_1.0-PROPER (img scaled from w:222px - 140px-->
<!-- changelog:  
SquawkBox version
-->

	<div class="wrapperInForm">
		
		<div class="titleInForm">
<div id="templateHeading"> </div>
		</div><!-- end .titleInForm -->
<img id="templateCover" align="right" src="" width="140" alt="Money Morning Free Report"/>
		<div class="paraInForm">
		<p>
<div id="templatePara1"> </div>
		</p>
		<p>
<div id="templatePara2"> </div>
		</p>
		<p>
<div id="templatePara3"> </div>
		</p>				
		</div><!-- end .paraInForm -->
		<div class="formWrapperInForm">
			<form action="http://signup.moneymorning.com.au/Content/SaveFreeSignups" id="LeadGen" method="post">
				<input name="source" style="display: none;" type="hidden" value=""> 
				<input name="list" style="display: none;" type="hidden" value="moneymor"> 
				<input name="adTopic" style="display: none;" type="hidden" value="looptirement"> 
				<input name="NotSaveSignup" style="display: none;" type="hidden" value="False">
					<div align="center">
						<input class="emailIF" id="email" name="email" onblur="javascript:if (this.value == '') this.value = 'Enter email address...';" onfocus="javascript:if (this.value == 'Enter email address...') this.value = '';" value="Enter email address..." type="text" size="25"> 
						<input class="subButtonIF" type="submit" value="Claim My Free Report">
					</div>
			</form>
			<div class="privacyTextInForm">
				<p>
					We will collect and handle your personal information in accordance with our <a href="http://www.moneymorning.com.au/privacy/">Privacy Policy</a>. You can cancel your subscription at any time.
				</p>
			</div>
		</div><!-- end .formWrapperInForm -->
	</div><!-- end .wrapperInForm -->
