<!-- MM-SF-ver_1.0-PROPER (img scaled from w:222px to 140px-->
<!-- changelog:  
SquawkBox version
-->


<div id="signupbox-wrapper">
   <div id="signup-box-content">
      	<span class="head"><strong>
<div id="templateHeading"> </div>
		</strong></span>
	    <br>
	    <div>
<img id="templateCover" align="right" src="" width="140">
		<p>
<div id="templatePara1"> </div>
		</p>
		<p>		
<div id="templatePara2"> </div>
		</p>
		<p>
<div id="templatePara3"> </div>
		</p>
      	</div>
     	<div id="form-wrapper">
         <div id="signup-form">
            <form action="http://signup.moneymorning.com.au/Content/SaveFreeSignups" id="LeadGen" method="post">
               <input name="source" style="display: none;" value="XCODE HERE" type="hidden"> 
               <input name="list" style="display: none;" value="moneymor" type="hidden"> 
               <input name="adTopic" style="display: none;" value="looptirement" type="hidden"> 
               <input name="NotSaveSignup" style="display: none;" value="False" type="hidden">
               <div align="center">
                  <div style="display:inline-block; vertical-align:middle;">
                     <table style="border:none;" cellpadding="5" cellspacing="0">
                        <tbody>
                           <tr style="border:none">
                              <td style="border:none;" align="right">
                                 <label for="email" id="emailLabel" style="display:none">Email:</label>
                              </td>
                              <td style="border:none;">
                                 <input id="email" name="email" onblur="javascript:if (this.value == '') this.value = 'Email:';" onfocus="javascript:if (this.value == 'Email:') this.value = '';" value="Email:" type="text" size="25" class="signup-text-box-input-sf">
                              </td>
                           </tr>
                        </tbody>
                     </table>
                  </div>
                  <div style="display:inline-block; vertical-align:middle;">
                     <input id="signup-button-sidebar" name="submit" value="SUBSCRIBE NOW" type="submit">
                  </div>
               </div>
            </form> 
         </div>
      </div>
      <div id="privacy-text">
         <strong>Privacy Statement</strong><br>
         We will collect and handle your personal information in accordance with our <a href="http://www.moneymorning.com.au/privacy-policy">Privacy Policy.</a> You can cancel your subscription at any
      </div>
   </div>
</div>