<!-- MM-PU-ver_1.0-PROPER (img scaled from w:222px - 180px-->
<!-- 
changelog: 
SquawkBox version
img width reduced to 180px, added <br /> above footer div 


<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,900" rel="stylesheet" type="text/css">
-->

<div class="mmpu-container">
	<div class="mmpu-content">
			<div style="font-size:18px;">
<div id="templateByline"> </div>
			</div>
			<div style="font-size:32px; margin-top:8px; margin-bottom: 10px; font-weight:900; line-height:38px;">
<div id="templateHeading"> </div>
			</div>
			<div class="mmpu-report-image">
<img id="templateCover" align="right" src="" width="180">
			</div>
			<div class="mmpu-content-text">
			<p>
<div id="templatePara1"> </div>
			</p>
			<p>
<div id="templatePara2"> </div>
			</p>			
		</div><!-- end .mmpu-content-text -->
		<div class="mmpu-content-text-bottom">
		<p>
<div id="templatePara3"> </div>
		</p>
		</div><!-- end .mmpu-content-text-bottom -->
			<form method="post" id="LeadGen" action="http://signup.moneymorning.com.au/Content/SaveFreeSignups">
				<input class="field" type="text" placeholder="Email Address" name="email" id="email"> 
				<input class="button" type="submit" value="SUBSCRIBE NOW >" name="submit"> 
				<input type="hidden" value="XCODE HERE" style="display: none;" name="source"> 
				<input type="hidden" value="False" style="display: none;" name="NotSaveSignup">
			</form>
		<div class="clear"></div>
    <br />
		<div class="footer">
			We will collect and handle your personal information in accordance with our <a href="http://www.moneymorning.com.au/privacy-policy">Privacy Policy</a>. You can cancel your subscription at any time.
		</div>
	</div><!-- end .mmpu-content -->
</div><!-- end .mmpu-container -->