<!-- text advert banner component -->
  <table width="100%" cellspacing="0" cellpadding="0" border="0" bgcolor="#f2f2f2">
    <tr>
      <td align="center">
        <table width="80%" cellspacing="0" cellpadding="0" border="0" align="center" bgcolor="#ffffff">
          <tr align="center" valign="middle">
            <td width="33%"><hr /></td>
            <td width="33%">
              <p style="font-family: Georgia, serif; font-size: 12px; color:#999999;"><font face="Georgia, serif">Advertisment</font></p>
            </td>
            <td width="33%"><hr /></td>
          </tr>
        </table>
      </td>
    </tr>
<!-- text advert component -->
    <tr>
      <td align="center">
        <table width="80%" cellspacing="0" cellpadding="0" border="0" align="center" bgcolor="#ffffff">        
          <tr>
            <td width="10%">&nbsp;</td>
            <td width="80%">&nbsp;</td>
            <td width="10%">&nbsp;</td>
          </tr>          
          <tr>
            <td width="10%">&nbsp;</td>
            <td width="80%" bgcolor="#fae9d6" align="center">&nbsp;</td>
            <td width="10%">&nbsp;</td>
          </tr>
          <tr>
            <td width="10%">&nbsp;</td>
            <td width="80%" bgcolor="#fae9d6" align="center">
              <p style="font-family: Georgia, serif; font-size: 15px;"><font face="Georgia, serif">
                <strong>Have you considered upgrading to an annual payment option for your Employment Law Practical Handbook updates yet?</strong>
              </font></p>
            </td>
            <td width="10%">&nbsp;</td>
          </tr>
          <tr>
            <td width="10%">&nbsp;</td>
            <td width="80%" bgcolor="#fae9d6" align="center">             
              <p style="font-family: Georgia, serif; font-size: 15px;"><font face="Georgia, serif">
                <strong>Doing so won&rsquo;t just save you the hassle of having to pay an invoice each time an update is released &ndash; it will also mean you save money.</strong>
              </font></p>
            </td>
            <td width="10%">&nbsp;</td>
          </tr>
          <tr>
            <td width="10%">&nbsp;</td>
            <td width="80%" bgcolor="#fae9d6" align="center">									
              <p style="font-family: Georgia, serif; font-size: 15px;"><font face="Georgia, serif">
                <a href="http://www.employmentlawhandbook.com.au/about/">Click here to find out how</a>
              </font></p>
            </td>
            <td width="10%">&nbsp;</td>
          </tr>
          <tr>
            <td width="10%">&nbsp;</td>
            <td width="80%" bgcolor="#fae9d6" align="center">&nbsp;</td>
            <td width="10%">&nbsp;</td>
          </tr>          
          <tr>
            <td width="10%">&nbsp;</td>
            <td width="80%">&nbsp;</td>
            <td width="10%">&nbsp;</td>
          </tr>
        </table>
      </td>
    </tr>						
  </table>
<!-- end components -->