<!-- footer copyright component -->
  <table align="center" width="100%" style="background-color: #f2f2f2;" cellspacing="0" cellpadding="0" border="0">
    <tr>
      <td width="10%">&nbsp;</td>
      <td width="80%">
        <table width="100%" align="center" style="border-collapse:collapse; background-color: #0e0963;" style="text-align: center;" cellspacing="0" cellpadding="0" border="0">	            
          <tr>
            <td width="10%">&nbsp;</td>
            <td width="80%">&nbsp;</td>
            <td width="10%">&nbsp;</td>
          </tr>
          <tr>
            <td width="10%">&nbsp;</td>     
            <td width="80%" align="center">
              <p style="font-family: Verdana, sans-serif; font-size: 12px; color: #ffffff;"><font face="Verdana, sans-serif">
<span id="#COPYRIGHT#">                
                All content is &copy; 2015 Fitzroy Press All Rights Reserved
</span>
              </font></p>
            </td>
            <td width="10%">&nbsp;</td>
          </tr>
          <tr>
            <td width="10%">&nbsp;</td>
            <td width="80%">&nbsp;</td>
            <td width="10%">&nbsp;</td>
          </tr>        
        </table>
      </td>
      <td width="10%">&nbsp;</td>
    </tr>
  </table>
<!-- end footer component -->