<!-- paged footer component -->
  <table width="100%" cellspacing="0" cellpadding="0" border="0" bgcolor="#f2f2f2">
    <tr>
      <td width="100%" align="center">
        <table width="80%" cellspacing="0" cellpadding="0" border="0" align="center" bgcolor="#ffffff">
          <tr align="center">
            <td width="10%">&nbsp;</td>
            <td width="80%" align="left">
              <p style="font-family:Calibri, sans-serif; font-size: 14px; text-align: left; line-height: 1;"><font face="Calibri, sans-serif">
                <a style="color: #fd6804;" href="#">Terms and Conditions</a> | <a style="color: #fd6804;" href="#">Privacy Policy</a> | <a style="color: #fd6804;" href="#">Unsubscribe</a> | <a style="color: #fd6804;" href="#">FAQ</a>
                <br /><br />
                Talk to us: send your feedback, praise, barbs, thoughts and musings to <a style="color: #fd6804;" href="mailto:">postcards@internationalliving.com.au</a>
                <br /><br />
                To remove your name from Postcards and associated external offers, <a style="color: #fd6804;" href="#">unsubscribe</a> here.
                <br />
                To cancel by email, write us at: <a style="color: #fd6804;" href="mailto:">cs@fitzroypress.com.au</a>
                <br /><br />
                ACN: 117 765 009 ABN: 33 117 765 009
              </font></p>								
            </td>
            <td width="10%">&nbsp;</td>
          </tr>
        </table>
        <table width="80%" cellspacing="0" cellpadding="0" border="0" align="center" bgcolor="#ffffff">
          <tr align="center">
            <td width="10%">&nbsp;</td>
            <td width="80%" align="left">
              <p style="font-family:Calibri, sans-serif; font-size: 14px; text-align: left; line-height: 1;"><font face="Calibri, sans-serif">
                Fitzroy Press
                <br />
                Attn: International Living Postcards (Australian Edition)
                <br />
                PO Box 713
                <br />
                South Melbourne VIC 3205  
                <br /><br />
                Tel: 1300 667 481
                <br />
                Fax: (03) 9558 2219
                <br />
              </font></p>	               
            </td>
            <td width="10%">&nbsp;</td>         
          </tr>
          <tr>
            <td width="10%">&nbsp;</td>
            <td width="80%">&nbsp;</td>
            <td width="10%">&nbsp;</td>
          </tr>           
        </table>
      </td>
    </tr>
  </table>
<!-- end paged footer component -->