<!-- stocks spreadsheet component -->
  <table width="100%" cellspacing="0" cellpadding="0" border="0" bgcolor="#f2f2f2">
    <tr>
      <td width="100%" align="center">
        <table width="100%" cellspacing="0" cellpadding="0" border="0" align="center" bgcolor="#00aeff">          
          <tr align="center" valign="middle"> 
            <td width="30%">&nbsp;</td>            
            <td width="40%" align="center">
              <p style="font-family: Calibri, sans-serif; font-size: 24px;margin: 0;"><font face="Calibri, sans-serif">
              <strong>Portfolio</strong>
              </font></p>
            </td>
            <td width="30%">&nbsp;</td>            
          </tr>         
        </table>
        <table width="100%" cellspacing="0" cellpadding="0" border="0" align="center" bgcolor="#ffffff">  
          <tr align="center" bgcolor="#404041" style="color:#FFFFFF">
            <td width="40%">
              <strong>Stock</strong>
            </td>
            <td width="12%">
              <strong>Ticker Symbol</strong>
            </td>
            <td width="12%">
              <strong>Exchange</strong>
            </td>
            <td width="12%">
              <strong>Current Price</strong>
            </td>
            <td width="12%">
              <strong>Buy Up To Price</strong>
            </td>
            <td width="12%">
              <strong>Current Gain</strong>
            </td>
          </tr>                
          <tr align="center" valign="top">
            <td width="40%">
              <strong>Qualcomm [<a href="http://portphillippublishing.com.au/2014/01/january-2014-immersive-technology-began/" target="_blank">Jan '14</a>]</strong>
            </td>
            <td width="12%">
            QCOM
            </td>
            <td width="12%">
            NASDAQ
            </td>
            <td width="12%">
            $69.620
            </td>
            <td width="12%">
            $80.000
            </td>
            <td width="12%">
            -5.64%
            </td>
          </tr>
          <tr align="center" valign="top" bgcolor="#e9eaeb">
            <td width="40%">
              <strong>Neonode [<a href="http://portphillippublishing.com.au/2014/02/february-2014-keys-revolutionary-technology/" target="_blank">Feb '14</a>]</strong>
            </td>
            <td width="12%">
            NEON
            </td>
            <td width="12%">
            NASDAQ
            </td>
            <td width="12%">
            $3.860
            </td>
            <td width="12%">
            $6.82
            </td>
            <td width="12%">
            -32.40%
            </td>
          </tr>
          <tr align="center" valign="top">
            <td width="40%">
              <strong>NVIDIA Corporation [<a href="http://www.portphillippublishing.com.au/2013/12/december-2013-the-last-invention-man-need-ever-make/" target="_blank">Dec '13</a>]</strong>
            </td>
            <td width="12%">
            NVDA
            </td>
            <td width="12%">
            NASDAQ
            </td>
            <td width="12%">
            $21.040
            </td>
            <td width="12%">
            $16.750
            </td>
            <td width="12%">
            31.83%
            </td>
          </tr>
          <tr align="center" valign="top" bgcolor="#e9eaeb">
            <td width="40%">
              <strong>Corning Inc [<a href="http://portphillippublishing.com.au/2013/06/global-tech-superstars-pioneering-sixth-revolution/" target="_blank">Jun '13</a>]</strong>
            </td>
            <td width="12%">
            GLW
            </td>
            <td width="12%">
            NYSE
            </td>
            <td width="12%">
            $21.490
            </td>
            <td width="12%">
            $17.00
            </td>
            <td width="12%">
            39.36%
            </td>
          </tr>                
          <tr align="center" valign="top">
            <td width="40%">
              <strong>MedTech Global Ltd [<a href="http://portphillippublishing.com.au/2015/01/january-2015-you-may-now-see-the-doctor-please-log-in/" target="_blank">Jan '15</a>]</strong>
            </td>
            <td width="12%">
            MDG
            </td>
            <td width="12%">
            ASX
            </td>
            <td width="12%">
            $0.140
            </td>
            <td width="12%">
            $0.124
            </td>
            <td width="12%">
            33.33%
            </td>
          </tr>                 
          <tr align="center" valign="top" bgcolor="#e9eaeb">
            <td width="40%">
              <strong>NXT-ID Inc. [<a href="http://www.portphillippublishing.com.au/2015/03/stock-alert-the-ultimate-security-in-our-immersive-tech-world/" target="_blank">Feb '15</a>]</strong>
            </td>
            <td width="12%">
            NXTD
            </td>
            <td width="12%">
            NASDAQ
            </td>
            <td width="12%">
            $2.430
            </td>
            <td width="12%">
            $2.540
            </td>
            <td width="12%">
            9.95%
            </td>
          </tr>              
        </table>
        <table width="100%" cellspacing="0" cellpadding="0" border="0" align="center" bgcolor="#ffffff">          
          <tr align="center" valign="top"> 
            <td width="30%">&nbsp;</td>            
            <td width="40%">&nbsp;</td>
            <td width="30%">&nbsp;</td>            
          </tr>         
        </table>        
      </td>
    </tr>
  </table>              
<!-- end stocks spreadsheet component -->